body{
    background-image:radial-gradient(ellipse at left bottom, rgba(22, 230, 15, 0.6) 0%,rgba(218, 16, 16, 0.8) 59%, rgba(11, 128, 212, 0.6) 100%);
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}
.tabl{
    margin-left:auto;
    margin-right:auto;
    /* width: 44%; */
    background-color: rgba(214, 208, 208, 0.25);
    /* background-color: rgba(10, 179, 225, 0.4); */
    border-radius: 2%;
    /* box-shadow:0 0 20px #FFCAC8; */
    padding: 5%;
}

h1.intro{

        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size:37px;
        /*padding: 10%;*/

}
form{
    padding: 1%;
    
}
th, td {
    padding: 12px;
  }
.button {
    background-color: #00184b; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
  }
.xx{
    text-align: right;
}
.ii{
  text-align: right;
  color: rgb(183, 4, 28);
}

.button-64 {
    margin-top: 20px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  float: right;
  justify-content: center;
  
 
  padding: 1px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: #001253;
  padding: 5px 20px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 1.1rem;
    min-width: 20%;
  }
}


